<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="bg-gray-100 text-gray-800 py-6">
            <div class="flex justify-between items-center mb-6 mx-6">
              <p class="font-bold text-2xl text-gray-950">For better experience, download the Swiggy app now</p>
              <div class="flex space-x-4">
                <a href="https://play.google.com/store/apps/details?id=in.swiggy.android&referrer=utm_source%3Dswiggy%26utm_medium%3Dheader" class="block">
                  <img src="../assets/images/Play_store.avif" alt="Get it on Google Play" class="h-10">
                </a>
                <a href="https://itunes.apple.com/in/app/id989540920?referrer=utm_source%3Dswiggy%26utm_medium%3Dhomepage" class="block">
                  <img src="../assets/images/App_store.avif" alt="Download on the App Store" class="h-10">
                </a>
              </div>
            </div>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-7 text-sm mb-6">
          <div class="flex flex-col items-center cursor-pointer">
            <div class="flex items-center">
              <img src="../assets/images/logo.png" alt="Swiggy Logo" class="h-15 w-20 rounded-full" />
              <span class="font-bold text-orange-500 ml-1 text-2xl">Swiggy</span>
            </div>
            <div class="text-sm text-gray-500 mt-1">© 2024 Swiggy Limited</div>
          </div>
          <div class="ml-8">
            <h2 class="font-semibold mb-2">Company</h2>
            <ul>
              <li><a href="https://www.swiggy.com/corporate/" class="hover:underline">About Us</a></li>
              <li><a href="https://www.swiggy.com/corporate/" class="hover:underline">Swiggy Corporate</a></li>
              <li><a href="https://www.swiggy.com/careers" class="hover:underline">Careers</a></li>
              <li><a href="https://www.swiggy.com/team" class="hover:underline">Team</a></li>
              <li><a href="https://www.swiggy.com/swiggy-super" class="hover:underline">Swiggy One</a></li>
              <li><a href="https://www.swiggy.com/instamart" class="hover:underline">Swiggy Instamart</a></li>
              <li><a href="https://www.swiggy.com/swiggy-dineout" class="hover:underline">Swiggy Dineout</a></li>
              <li><a href="https://www.swiggy.com/swiggy-genie" class="hover:underline">Swiggy Genie</a></li>
            </ul>
          </div>
          <div>
            <h2 class="font-semibold mb-2">Contact us</h2>
            <ul>
              <li><a href="https://www.swiggy.com/support" class="hover:underline">Help & Support</a></li>
              <li><a href="https://partner-with-us.swiggy.com/onboard#/swiggy" class="hover:underline">Partner with us</a></li>
              <li><a href="https://ride.swiggy.com/" class="hover:underline">Ride with us</a></li>
            </ul>
          </div>
          <div>
            <h2 class="font-semibold mb-2">Available in:</h2>
            <ul>
              <a href="https://www.swiggy.com/city/bangalore"><li>Bangalore</li></a>
              <a href="https://www.swiggy.com/city/gurgaon"><li>Gurgaon</li></a>
              <a href="https://www.swiggy.com/city/hyderbad"><li>Hyderbad</li></a>
              <a href="https://www.swiggy.com/city/delhi"><li>Delhi</li></a>
              <a href="https://www.swiggy.com/city/mumbai"><li>Mumbai</li></a>
              <a href="https://www.swiggy.com/city/pune"><li>Pune</li></a>
              <li>
                <select class="border bg-gray-50 p-1">
                  <option>679 cities</option>
                </select>
              </li>
            </ul>
          </div>
          <div>
            <h2 class="font-semibold mb-2">Life at Swiggy</h2>
            <ul>
              <li><a href="https://blog.swiggy.com/category/explore-with-swiggy/" class="hover:underline">Explore with Swiggy</a></li>
              <li><a href="https://blog.swiggy.com/category/news/" class="hover:underline">Swiggy News</a></li>
              <li><a href="https://blog.swiggy.com/category/snackables/" class="hover:underline">Snackables</a></li>
            </ul>
          </div>
          <div>
            <h2 class="font-semibold mb-2">Legal</h2>
            <ul>
              <li><a href="https://www.swiggy.com/terms-and-conditions" class="hover:underline">Terms & Conditions</a></li>
              <li><a href="https://www.swiggy.com/cookie-policy" class="hover:underline">Cookie Policy</a></li>
              <li><a href="https://www.swiggy.com/privacy-policy" class="hover:underline">Privacy Policy</a></li>
              <li><a href="https://www.swiggy.com/investor-relations" class="hover:underline">Investor Relations</a></li>
            </ul>
          </div>
         <div>
            <h2 class="font-semibold mb-2 text-justify">Social Links</h2>
            <div class="flex space-x-3">
              <a href="https://www.facebook.com/swiggy.in/" class="text-gray-500 hover:text-gray-700">
                <img src="../assets/images/icon-facebook.avif" class="h-4 w-4" alt="Facebook Icon">
              </a>
              <a href="https://www.linkedin.com/company/swiggy-in/" class="text-gray-500 hover:text-gray-700">
                <img src="../assets/images/icon-linkedin.avif" class="h-4 w-4" alt="LinkedIn Icon">
              </a>
              <a href="https://www.instagram.com/swiggyindia/?hl=en" class="text-gray-500 hover:text-gray-700">
                <img src="../assets/images/icon-instagram.avif" class="h-4 w-4" alt="Instagram Icon">
              </a>
              <a href="https://in.pinterest.com/swiggyindia/" class="text-gray-500 hover:text-gray-700">
                <img src="../assets/images/icon-pinterest.avif" class="h-4 w-4" alt="Pinterest Icon">
              </a>
              <a href="https://twitter.com/Swiggy?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="text-gray-500 hover:text-gray-700">
                <img src="../assets/images/icon-twitter.avif" class="h-4 w-4" alt="Twitter Icon">
              </a>
            </div>
          </div>
        </div>
      </footer>   
</body>
</html>
